asgiref==3.3.1
atomicwrites==1.4.0
attrs==20.3.0
colorama==0.4.4
Django==3.1.5
iniconfig==1.1.1
jsonfield==3.1.0
model-bakery==1.2.1
packaging==20.8
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.1
pytz==2020.5
selenium==3.141.0
sqlparse==0.4.1
toml==0.10.2
urllib3==1.26.2
