{% load static %}
<html>
    <head>
        <title>eCom-Store</title>
        <link rel="icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    </head>
    <body>
        <div>
            <a href="/cart/">Shopping cart</a>
            {% if user.is_authenticated %}
                <p>Welcome, {{ user.username }}</p>
                <a href="/logout/">Logout</a>
            {% else %}
                <a href="/login/">Login</a>
            {% endif %}
        </div>
        <div id="message_box">
            {% for message in messages %}
            <div>{{ message }}</div>
            {% endfor %}
        </div>
        {% block body %} {% endblock %}
        {% block script %}{% endblock %}
    </body>
</html>

