{% extends 'base.html' %}
{% load static %}
{% block body %}
<table id="cart_item_table">
    {% for item in cart_items.cart_items.all %}
    <tr>
        <td>{{ item.product.description }}</td>
        <td>
            <button id="increase" onclick="incrCartItem('quantity')">Increase</button>
            <div id="quantity">{{ item.quantity }}</div>
            <button id="decrease">Descrease</button>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
{% block script %}
<script src="{% static 'shopping_cart.js' %}">
</script>
{% endblock %}
