<html>
    <title>eCom-Store</title>
    <body>
        <div id="message_box">
            {% for message in messages %}
            <div>{{ message }}</div>
            {% endfor %}
        </div>
        <div>
            <a href="/cart/">Shopping cart</a>
        </div>
        <form id="item_container" method="POST" action="addToCart">
            <div>
                <img id="product_img" src={{ product.img_src }}/>
                <div id="product_description">
                    {{ product.description }}
                    {{ product.price }} VND
                </div>
            </div>
            <div>
                <button text="Buy">Buy</button>
            </div>
            {% csrf_token %}
        </form>
    </body>
</html>
